---
import Section from '@/components/Section.astro';
import Layout from '@/layouts/Layout.astro';
import type { Shop, Item } from '@/models/shop.type.ts';
import DailyShop from '@/data/shop.json';
import { getI18N } from "@/i18n"
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })


const data = DailyShop as Shop | any;
const shop = data.shop as Item[];
const sections: { id: string; name: string; }[] = [];

for (const item of shop) {
  const exists = sections.find((section) => section.name === item.section.name);
  if (!exists) {
    sections.push({ id: item.section.id, name: item.section.name });
  }
}

---
<Layout title={i18n.SHOP.TITLE_SEO} description={i18n.SHOP.DESCRIPTION_SEO}>

  <section class="w-full mx-auto p-6" id="hero">
    <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl" set:html={i18n.SHOP.TITLE}>
    </h1>

    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
      {i18n.SHOP.DESCRIPTION} <span class="font-bold">{data.lastUpdate.date}</span>
    </p>
  </section>

  <section class="w-full mx-auto">
    <div class="w-full p-6 flex flex-col gap-8">
      {
        sections.map((section) => {
          const dataSection = shop.filter((item ) => item.section.name === section.name)
          return (
            <Section 
              id={section.id} 
              name={section.name} 
              shop={dataSection} 
            />
          )
        })
      }
    </div>
  </section>
</Layout>