---
import BaseSection from "@/components/BaseSection.astro";
import IslandCard from '@/components/IslandCard.astro';
import { getCreative } from '@/services/creative.ts'

const { currentLocale } = Astro

const data = await getCreative({lang: currentLocale});
const FIRST_ISLAND = 1
---
<BaseSection title={data[FIRST_ISLAND].category.label}>
    {
        data[FIRST_ISLAND].islands.map((island: any) => {
            return (
                <li>
                    <a href={`/creative/${island.islandCode}`}>
                        <IslandCard 
                            code={island.islandCode} 
                            image={island.imgSrc} 
                            title={island.title} 
                        />
                    </a>
                </li>
            )
        })
    }
</BaseSection>