---
import type { Item } from "@/models/shop.type.ts";
interface Props {
    item: Item;
}
const { item } = Astro.props;
const bundle = item.displayName.toLowerCase().includes("bundle") ? "row-span-2 col-span-2" :
               item.displayType === 'Outfit' ? "row-span-2 col-span-1" :
               "row-span-1 col-span-1";  // Valor por defecto si ninguna condición se cumple

const granted = item.granted.map((granted) => granted.images.background).join(', ');
---

<li class={`${bundle} hover:scale-105 transition-all `}>
    <a href={`/cosmetic/${item.mainId}`}>
        <img loading="lazy" class="h-full object-cover" src={item.displayAssets[0].background} alt={item.displayName} data-imgs={granted} />

    </a>
</li>