---
import ButtonPlayer from '@/components/ButtonPlayer';
import Link from '@/components/Link.astro';
import Vynil from '@/components/Vynil.astro';
import { HOVER } from '@/constants';
import { getI18N } from "@/i18n";
import Layout from '@/layouts/Layout.astro';
import type { Grant, Item } from '@/types/cosmetic.type';
import dafaultImage from '@/utils/defaultImage';

const i18n = getI18N(Astro);
interface Props {
    data: Item;
}
const { data } = Astro.props;
const { 
    name, 
    type, 
    rarity, 
    price, 
    description,
    grants,
    displayAssets,
    images,
    shopHistory
 } = data


const seoTitle = i18n.COSMETICS.COSMETIC.TITLE_SEO.replace("{name}", name)
  .replace("{type}", type.name);

const seoDescription = i18n.COSMETICS.COSMETIC.DESCRIPTION_SEO
  .replace("{name}", name)
  .replace("{type}", type.name)
  .replace("{rarity}", rarity.name)
  .replace("{price}", price.toString());

const url = displayAssets.length > 0 ? displayAssets[0].url : images.icon;
const image = dafaultImage({url});
---
<Layout title={seoTitle} description={seoDescription}>
    <div class="w-full mx-auto relative gap-4" id="grid__container">
        <section class="max-w-[480px] w-full p-6 flex flex-col gap-2" id="details">
            <div id="info" class="flex gap-3 text-white items-center mb-4 uppercase text-md font-bold italic">
                <span class="px-3 py-1 rounded bg-cyan-800">{rarity.name}</span>
                <span>{type.name}</span>
            </div>
            <h1 class="text-2xl lg:text-3xl font-bold text-gray-900 dark:text-white "><i>{name}</i></h1>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 py-4">{description}</p>
            {
                type.name === "Jam Track" && <ButtonPlayer track={name} client:load />
            }
            <p class="text-lg font-bold text-gray-900 dark:text-white">{price} V-Bucks</p>
            <details class="w-full overflow-auto max-h-[300px]">
                <summary class="text-lg font-bold text-gray-900 dark:text-white">Shop History</summary>
                <ol>
                    {
                        shopHistory && shopHistory.map((date) => {
                            return (
                                <li class="text-lg font-normal text-gray-500 dark:text-gray-400 py-1">
                                    <a 
                                        class="hover:underline"
                                        href={`/shop/${date}`}>{date}
                                    </a>
                                </li>
                            )
                        })
                    }
                </ol>
            </details>
        </section>
        <section id="hero" class="w-full flex justify-between relative">
            {
                type.name !==  "Jam Track" 
                ?   <img 
                        id="item" 
                        src={image} 
                        alt={name} 
                        loading="lazy" 
                        class="aspect-[360/360] sm:aspect-[480/480] lg:aspect-[720/720]" 
                    />
                :   <Vynil img={image}/> 
            }
        </section>
        <section id="components" class="w-full h-full flex flex-col gap-4 lg:pb-8 overflow-x-auto lg:overflow-x-visible relative">
            <h2 class="text-lg font-black text-gray-900 dark:text-white my-4 italic uppercase hidden lg:flex">
                Cosmetics
            </h2>
            <div class="flex flex-nowrap lg:flex-wrap gap-4 py-4 lg:py-0 pl-2 lg:pl-0">
                {
                    grants && grants.map((grant: Grant) => {
                        const { id, name, images } = grant
                        return (
                            <Link 
                                href={`/cosmetic/${id}`} 
                                class="w-[100px] h-[100px] flex-none"
                                title={name}
                            >
                                <img
                                    class={`w-full h-full object-cover rounded-lg shadow-lg bg-[rgba(0,0,0,0.2)] cursor-pointer ${HOVER}`} 
                                    src={images.icon}
                                    title={name}
                                    width="100"
                                    height="100" 
                                    alt={name}
                                    loading="lazy"  
                                />
                                <p class="text-center py-3 text-sm text-gray-900 dark:text-white">
                                    {name}
                                </p>
                            </Link>
                        )
                    })
                }
            </div>
        </section>
    </div>
</Layout>

<style>
    #grid__container {
        display: grid;
        grid-template-areas: "a b" "c c";
        grid-template-columns: auto 1fr;
        grid-template-rows: 59svh auto;
    }
    #hero::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #00DBDE;
        background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

        z-index: -1;
        filter: blur(170px);
    }
    #details {
        grid-area: a;
    }
    #hero {
        grid-area: b;
        width: 700px;
        height: 700px;
        max-height: 100%;
        max-width: 100%;
    }
    #hero img {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    #components {
        grid-area: c;
    }

    #components, details {
        scrollbar-color: #f3f4f61a rgb(27 29 37 / 17%);        
    }
    summary {
    list-style: none;
    display: flex; /* also removes the list marker */
    align-items: center;
    padding: 10px;
    font-weight: bold;
    }

    summary::after {
    content: '';
    width: 18px;
    height: 10px;
    background: url('https://uploads.sitepoint.com/wp-content/uploads/2023/10/1697699669arrow.svg') no-repeat;
    background-size: cover;
    margin-left: .75em;
    transition: 0.2s;
    }

    details[open] > summary::after {
    transform: rotate(180deg);
    }

    summary::-webkit-details-marker {
    display: none;
    }

    summary {
    background-color: #e792e7;
    background-image: linear-gradient(90deg, #e792e7 0%, #6eb7f1 100%);
    color: #30353b;
    border-radius: 5px;
    }

    details[open] summary {border-radius: 5px 5px 0 0;}

    details {   
    background: #1b1b29;
    padding-left: 10px;
    border-radius: 5px;
    }

    #item {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top;
        -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 76%, rgba(0, 0, 0, 0) 100%);
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 69%, rgba(0, 0, 0, 0) 100%);
    }
    @media screen and (max-width: 768px) {
        #grid__container {
            grid-template-areas: "b" "c" "a";
            grid-template-rows: auto 220px auto;
        }
        #hero {
            width: 100%;
            height: 100%;
        }
        #item {
            -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
        }
    }
</style>

